h4{
    text-align: center;
    margin: 10px;
}
#income,#balance{
    width: 550px;
    padding: 0;
    margin: 0;
    background: #fff;
    border:2px solid #444;
    border-collapse:collapse
}
table {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
.light{
    background-color: #cbc3df;
}
/*订单*/
.btn-default{
    background-color: #fdfafe;
}
.card{
    margin: 10px;
}
.card-body{
    background-color: #ede7ff;
}
.card-amount{
    color: #b942dd;
    font-weight: bold;
    margin: 20px;
}
.card-center{
    text-align: center;
}
.card-bottom{
    text-align: center;
    margin: 10px;
}
/*生产车间*/
#box{
    padding: 10px;
    margin: 5px;
}
