<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hdu.clan.mapper.sys.AdvertiseMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hdu.clan.entity.sys.Advertise">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="team_count" jdbcType="VARCHAR" property="teamCount" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="market_id" jdbcType="VARCHAR" property="marketId" />
    <result column="money_number" jdbcType="DECIMAL" property="moneyNumber" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="edit_user" jdbcType="VARCHAR" property="editUser" />
    <result column="edit-time" jdbcType="TIMESTAMP" property="editTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.edu.hdu.clan.entity.sys.Advertise">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="team_count" jdbcType="VARCHAR" property="teamCount" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="market_id" jdbcType="VARCHAR" property="marketId" />
    <result column="money_number" jdbcType="DECIMAL" property="moneyNumber" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="edit_user" jdbcType="VARCHAR" property="editUser" />
    <result column="edit-time" jdbcType="TIMESTAMP" property="editTime" />
  </resultMap>
</mapper>