<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.hdu.clan.mapper.sys.BalancesheetMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.hdu.clan.entity.sys.Balancesheet" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="period" property="period" jdbcType="INTEGER" />
    <result column="money_now" property="moneyNow" jdbcType="DECIMAL" />
    <result column="money_get" property="moneyGet" jdbcType="DECIMAL" />
    <result column="money_making" property="moneyMaking" jdbcType="DECIMAL" />
    <result column="money_sale" property="moneySale" jdbcType="DECIMAL" />
    <result column="money_buy" property="moneyBuy" jdbcType="DECIMAL" />
    <result column="money_flow" property="moneyFlow" jdbcType="DECIMAL" />
    <result column="long_term_loan" property="longTermLoan" jdbcType="DECIMAL" />
    <result column="short_term_loan" property="shortTermLoan" jdbcType="DECIMAL" />
    <result column="money_order_get" property="moneyOrderGet" jdbcType="DECIMAL" />
    <result column="money_tax" property="moneyTax" jdbcType="DECIMAL" />
    <result column="long_term_loan_year" property="longTermLoanYear" jdbcType="DECIMAL" />
    <result column="money_loan" property="moneyLoan" jdbcType="DECIMAL" />
    <result column="money_j" property="moneyJ" jdbcType="DECIMAL" />
    <result column="money_p" property="moneyP" jdbcType="DECIMAL" />
    <result column="money_m" property="moneyM" jdbcType="DECIMAL" />
    <result column="money_static" property="moneyStatic" jdbcType="DECIMAL" />
    <result column="money_g" property="moneyG" jdbcType="DECIMAL" />
    <result column="money_stay" property="moneyStay" jdbcType="DECIMAL" />
    <result column="money_year" property="moneyYear" jdbcType="DECIMAL" />
    <result column="money_user" property="moneyUser" jdbcType="DECIMAL" />
    <result column="money_all" property="moneyAll" jdbcType="DECIMAL" />
    <result column="money_alls" property="moneyAlls" jdbcType="DECIMAL" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_user" property="editUser" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
  </resultMap>
    <select id="query" resultType="cn.edu.hdu.clan.entity.sys.Balancesheet">
      select * from balancesheet where create_user=#{user_id} and period=#{period};
    </select>
</mapper>