<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.hdu.clan.mapper.sys.LongTermLoansMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.hdu.clan.entity.sys.LongTermLoans" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="team_count" property="teamCount" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="period" property="period" jdbcType="INTEGER" />
    <result column="money_period" property="moneyPeriod" jdbcType="DECIMAL" />
    <result column="money_total" property="moneyTotal" jdbcType="DECIMAL" />
    <result column="return_period" property="returnPeriod" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_user" property="editUser" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="save" >
      insert into long_term_loans
      (id,group_id)
      values
      ()
      ;
    </insert>
</mapper>