<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hdu.clan.mapper.sys.OrderMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hdu.clan.entity.sys.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="team_count" jdbcType="INTEGER" property="teamCount" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="market_id" jdbcType="INTEGER" property="marketId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="order_turn" jdbcType="VARCHAR" property="orderTurn" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="time_left" jdbcType="TIMESTAMP" property="timeLeft" />
    <result column="time_out" jdbcType="INTEGER" property="timeOut" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="eidt-user" jdbcType="VARCHAR" property="eidtUser" />
    <result column="edit-time" jdbcType="DATE" property="editTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.edu.hdu.clan.entity.sys.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="team_cout" jdbcType="VARCHAR" property="teamCout" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="market_id" jdbcType="VARCHAR" property="marketId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="order_turn" jdbcType="INTEGER" property="orderTurn" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="time_left" jdbcType="TIMESTAMP" property="timeLeft" />
    <result column="time_out" jdbcType="INTEGER" property="timeOut" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="eidt-user" jdbcType="VARCHAR" property="eidtUser" />
    <result column="edit-time" jdbcType="DATE" property="editTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.edu.hdu.clan.entity.sys.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="team_cout" jdbcType="VARCHAR" property="teamCout" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="market_id" jdbcType="VARCHAR" property="marketId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="order_turn" jdbcType="INTEGER" property="orderTurn" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="time_left" jdbcType="TIMESTAMP" property="timeLeft" />
    <result column="time_out" jdbcType="INTEGER" property="timeOut" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="eidt-user" jdbcType="VARCHAR" property="eidtUser" />
    <result column="edit-time" jdbcType="DATE" property="editTime" />
  </resultMap>
</mapper>