<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.hdu.clan.mapper.sys.ProductionMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.hdu.clan.entity.sys.Production" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="research_cost" property="researchCost" jdbcType="VARCHAR" />
    <result column="research_period" property="researchPeriod" jdbcType="DECIMAL" />
    <result column="cost_total_research" property="costTotalResearch" jdbcType="DECIMAL" />
    <result column="cost_labor" property="costLabor" jdbcType="DECIMAL" />
    <result column="cost_material" property="costMaterial" jdbcType="DECIMAL" />
    <result column="cost_total" property="costTotal" jdbcType="DECIMAL" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_user" property="editUser" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>