<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.hdu.clan.mapper.sys.SalepaymentMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.hdu.clan.entity.sys.Salepayment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="team_count" property="teamCount" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="period" property="period" jdbcType="INTEGER" />
    <result column="surplus_period" property="surplusPeriod" jdbcType="INTEGER" />
    <result column="sale_order_id" property="saleOrderId" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="pay_period" property="payPeriod" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_user" property="editUser" jdbcType="VARCHAR" />
    <result column="eidt_time" property="eidtTime" jdbcType="TIMESTAMP" />
  </resultMap>
    <update id="save">
      update salepayment set money=#{money} where create_user=#{user_id} and period=#{period};
    </update>
  <select id="query" resultType="cn.edu.hdu.clan.entity.sys.Salepayment">
  select * from salepayment where create_user=#{user_id} and period=#{period};
  </select>
</mapper>